.footer_links{
    width: 100%;
    display: flex;
flex-wrap: wrap;

}
.container{
max-width: 1367px;
    margin: 0 auto;
    


}
.footer_box{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: top;
}
.flex_box{
    display: grid;
    grid-template-columns: repeat(6,auto);

}
.footer{
   
    display: grid;
    grid-template-columns: repeat(1,auto);
    margin-top: 100px;
    align-items: center;

}
.footer_links>ul>li {
    padding: 10px 20px;
}
.footer_links>div>ul>li {
    padding: 10px 20px;
}
.blocks{
    display: block;
    width: 100%;
    
}
.line{
border-bottom: 1px solid black;    

}
.filter_box2{
    padding-left: 60px;
display: grid;
grid-template-columns: 1fr 6.7fr;
}
.wrappper_box{
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 7fr



    
}

